<script src="https://giscus.app/client.js"
        data-repo="abserari/quartz"
        data-repo-id="R_kgDOIK2AyA"
        data-category="Announcements"
        data-category-id="DIC_kwDOIK2AyM4CR4dG"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
